﻿@model IEnumerable<string>


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("MBM-Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Products
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    @foreach (var link in Model)
                    {
                        <li>
                            @Html.RouteLink(link, new
                       {
                           controller = "Catalogue",
                           action = "Index",
                           category = link,
                           page = 1
                       })
                    </li>

                    }

                </ul>
            <li>
                @Html.ActionLink("Invoices", "Index", "Invoice")
            </li>
        </ul>














