﻿@using MbmStore.Models;
@using MbmStore.HtmlHelpers;
@model MbmStore.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "Index";
}



@if (Model.Products.OfType<MusicCD>().Count() > 0)
{
    <h2>The Music CDs</h2>
    foreach (MusicCD musicCD in Model.Products.OfType<MusicCD>().ToList())
    {
        
        @Html.Partial("_MusicCDs", musicCD);
        <br />
    }
}





@if (Model.Products.OfType<Movie>().Count() > 0)
{
    <h2>The Movies</h2>
    foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
    {
        @Html.Partial("_Movies", movie);
        <br />
    }
}



@if (Model.Products.OfType<Book>().Count() > 0)
{
    <h2>The Books</h2>
    foreach (Book book in Model.Products.OfType<Book>().ToList())
    {
        @Html.Partial("_Books", book);
        <br />
    }
}

<ul class="pagination">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
</ul>