﻿@using MbmStore.Models;
@using MbmStore.Infrastructure;
@using System.Linq;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <h1>Invoices</h1>

@using (Html.BeginForm("Index", "Invoice", FormMethod.Post))
{
    @Html.DropDownList("CustomerId", "Select Customer")
    <button class="btn btn-info" type="submit">Show invoices</button>
}



@foreach (Invoice invoice in ViewBag.Invoices)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-4">
                <span><strong> Name: </strong>@invoice.Customer.Firstname</span><span> @invoice.Customer.Lastname</span><br />
                <span><strong>Age: </strong> @invoice.Customer.Age</span><br />
                <span><strong>Address: </strong> @invoice.Customer.City, </span><span>@invoice.Customer.Address</span><br />
                <br />

                <span><strong>Total Items: </strong>@invoice.OrderItems.Count</span>

            </div>
            <div class="col-sm-5">
                @foreach (OrderItem item in invoice.OrderItems)
                {
                    <strong>Product:</strong><span> @item.Product.Title</span><br /><br />
                }
            </div>

            <div class="col-sm-3">
                @foreach (OrderItem item in invoice.OrderItems)
                {

                    <p>Price: @item.Product.Price</p>

                }

                <div class="alert alert-warning" style="text-decoration:underline">Total Price: <b>@invoice.GetTotalPrice()</b></div>

            </div>

        </div>
    </div>
}


