﻿@using MbmStore.Models;

@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>MBM-Store</h1>
    <p class="lead">MBM-Store is great for renting Movies, Books and CD's</p>
  
</div>

<div class="jumbotron">
    <div class="row">

        <div class="col-md-4">
            <h2>New movies</h2>
            <p>@Html.ActionLink("Show Movies", "Index", "Catalogue/Movie", new { area = "" }, new { @class = "btn btn-info btn-lg" })</p>
        </div>
        <div class="col-md-4">
            <h2>New books</h2>
            <p>@Html.ActionLink("Show Books", "Index", "Catalogue/Book", new { area = "" }, new { @class = "btn btn-info btn-lg" })</p>

        </div>
        <div class="col-md-4">
            <h2>New CDs</h2>
            <p>@Html.ActionLink("Show CDs", "Index", "Catalogue/MusicCD", new { area = "" }, new { @class = "btn btn-info btn-lg" })</p>
        </div>

    </div>
</div>

