﻿@using MbmStore.Models
@model MbmStore.Models.MusicCD




<div class="row bottom-buffer">
    <div class="container panel panel-default">
        <div class="col-lg-8">
            <h2 class="panel-heading">@Model.Title</h2>
            <div class="panel-body">
                <h4>Name: @Model.Artist</h4>
                <h4>Price: @String.Format("{0:0.00}", Model.Price)</h4>

                      @foreach (Track track in Model.Tracks)
                       {
                           <div class="row">
                               <div class="col-xs-4">
                                   @track.Title <br />
                               </div>
                               <div class="col-xs-4">
                                   @track.Length <br />
                               </div>
                               <div class="col-xs-4">
                                   @track.Composer <br />
                               </div>
                           </div>
                           <br />
                       } 

                <h4>Play time:@Model.GetPlayingTime()</h4>
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    @Html.Hidden("ProductId", Model.ProductId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                    <div class="form-group" style="height:20px;">
                        @{ var quantity = new SelectList(Enumerable.Range(1, 10)); }
                        @Html.DropDownList("Quantity", quantity, new { @class = "form-control pull-left" })
                    </div>
                    <br />
                    <div style="display:block;">
                        <input type="submit" class="btn btn-info" value="Add to cart" />
                    </div>
                            }
            </div>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="/Content/Images/@Model.ImageUrl" alt="@Model.Title" />
        </div>
    </div>

</div>