﻿@using MbmStore.Controllers;

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        @Html.Action("Menu", "Nav")

        @Html.Action("CartItems", "Cart")

    </div>
</div>
