﻿@model MbmStore.ViewModels.Cart

<!--
<div class="navbar-right" style="padding-right:20px">
    @Html.ActionLink("Checkout", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" })
</div>
-->
      

<ul class="nav navbar-nav navbar-right">
    @using (Html.BeginForm("Index", "Cart"))
            {
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <button class="cart" type="submit" value="View Cart" style="background-color: transparent; color:white;padding-top: 10px; padding-bottom:10px; border: 0;">
            
            @Model.Lines.Sum(x => x.Quantity) item(s),
            @Model.TotalPrice.ToString("n")€
            <i class="fa fa-shopping-cart fa-2x"></i>

        </button>
    }
</ul>
